*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

/* loading  */
.loading{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999;
    background-color: #000000e1;
    color: #fff;
}
body{
    overflow: hidden;
}
/* From Uiverse.io by ZacharyCrespin */ 
@keyframes square-animation {
    0% {
     left: 0;
     top: 0;
    }
   
    10.5% {
     left: 0;
     top: 0;
    }
   
    12.5% {
     left: 32px;
     top: 0;
    }
   
    23% {
     left: 32px;
     top: 0;
    }
   
    25% {
     left: 64px;
     top: 0;
    }
   
    35.5% {
     left: 64px;
     top: 0;
    }
   
    37.5% {
     left: 64px;
     top: 32px;
    }
   
    48% {
     left: 64px;
     top: 32px;
    }
   
    50% {
     left: 32px;
     top: 32px;
    }
   
    60.5% {
     left: 32px;
     top: 32px;
    }
   
    62.5% {
     left: 32px;
     top: 64px;
    }
   
    73% {
     left: 32px;
     top: 64px;
    }
   
    75% {
     left: 0;
     top: 64px;
    }
   
    85.5% {
     left: 0;
     top: 64px;
    }
   
    87.5% {
     left: 0;
     top: 32px;
    }
   
    98% {
     left: 0;
     top: 32px;
    }
   
    100% {
     left: 0;
     top: 0;
    }
   }
   
   .loader {
    position: relative;
    width: 96px;
    height: 96px;
    transform: rotate(45deg);
    left: 45%;
    top:47%;
   }
   
   .loader-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 28px;
    height: 28px;
    margin: 2px;
    border-radius: 0px;
    background: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: square-animation 10s ease-in-out infinite both;
   }
   
   .loader-square:nth-of-type(0) {
    animation-delay: 0s;
   }
   
   .loader-square:nth-of-type(1) {
    animation-delay: -1.4285714286s;
   }
   
   .loader-square:nth-of-type(2) {
    animation-delay: -2.8571428571s;
   }
   
   .loader-square:nth-of-type(3) {
    animation-delay: -4.2857142857s;
   }
   
   .loader-square:nth-of-type(4) {
    animation-delay: -5.7142857143s;
   }
   
   .loader-square:nth-of-type(5) {
    animation-delay: -7.1428571429s;
   }
   
   .loader-square:nth-of-type(6) {
    animation-delay: -8.5714285714s;
   }
   
   .loader-square:nth-of-type(7) {
    animation-delay: -10s;
   }

/* top button  */

#topBtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #3a6cf4;
    display: none;
}
/* color-box  */
.color-box{
    position: fixed;
    top: 200px;
    left: 0;
    display: flex;
    z-index: 9999;
}

.color-option{
    background-color: rgba(0, 0, 0, 0.267);
    padding: 10px; 
    border: 3px solid #3a6cf4;
    color: #fff;

}

.color-box i{
    background-color:#3a6cf4;
    height: fit-content ;
    padding: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.color-option li{

width: 25px;
height: 25px;
background-color: teal;
display: inline-block;
border-radius: 50% ;

}



/* Header  */
header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navigation a{
    text-decoration: none;
    color: #3a6cf4;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}
.navigation a:hover{
    color: #601cfc;
}

/* Section main */
section{
    padding: 100px 200px;
}
.main{
    width:100%;
    min-height:100vh;
    display:flex;
    align-items:center;
    background:url(../images/WhatsApp\ Image\ 2024-02-08\ at\ 8.29.49\ PM\ \(2\).jpeg) no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
}
.main h2{
    color: #fff;
    font-size:1.4em;
    font-weight: 500;
}
.main h2 span{
    color: #4e9eff;
    font-size: 1.8em;
    font-weight: 600;
    display: inline-block;
    margin-top:10px;
}
.main h3{
    color: #fff;
    font-size: 1.7em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    color: #fff;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px; 
    transition: all .6s ease;
}
.main-btn:hover{
    color: #fff;
    background-color: #0149f6;
    transform: scale(1.1);
}
/* Social icon  */
.social-icon a{
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

/* Services  */
.title{
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: #fff;
    width: 17.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: all 0.8s ease;
}  
.card:hover{
    transform: scale(1.1);
}
.icon{
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}
.info h3{
    color: #3a6cf4;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

/* Projects  */
.projects{
    background-color: #000016;
}
.projects .content{
    margin-top: 30px;
}
.project-card{
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 17em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: all .7s ease;
}
.project-card:hover{
    transform: scale(1.1);
}
.project-card:hover .project-img{
    opacity: 0.9;
}
.project-img img{
    width: 100%;
    transition: all .9s ease;
}
.project-card img:hover {
    transform: scale(1.2);
}
.project-info{
    padding: 1em;
}
.project-category{
    font-size: .8em;
    color: #000;
}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-details{
    text-decoration: none;
    color: #3a6cf4;
    transition: all .2s ease;
}
.more-details:hover{
    color: #601cfc;
}


/* CONTACT  */
.contact .icon{
    font-size: 4.5em;
}
.contact .info h3{
    color: #000;
}
.contact .info p{
    font-size: 1.5em;
}


/* FOOTER  */
.footer{
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}
.footer-title span{
    color: #3a6cf4;
}
.footer-title .social-icon a{
    font-size:1.3em;
    padding: 0 12px 0 0;
}

/* RESPONSIVE  */


    
@media (max-width:1023px) {

header{
    padding: 12px 12px;
}

.navigation a{
    padding-left: 10px;
} 

.title{
    font-size: 1.8em;
}

.section{
    padding: 80px 20px;
}

.main-content h2{
    font-size: 1em;
}

.main-content h3{
    font-size: 1.6em;
}

.content{
    flex-direction: column;
    align-items: center;
}

}

@media (max-width:641px){

body{
    font-size: 12px;
}

.main-content h2{
    font-size: .8em;
}

.main-content h3{
    font-size: 1.4em;
}

}

@media (max-width:300px){

body{
    font-size:10px
}

}